# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

aclocal.m4
autom4te.cache
build
config/config.*
config/depcomp
config/install-sh
config/missing
configure
include/config.hpp.in*
install

/compile_commands.json
/Makefile
/.dir-locals.el
build_clang
/GPATH
/GRTAGS
/GTAGS
/config/compile
build_opt
build*
/lib/#fit.hpp#
/bin/#Kl2_IB_glb.cpp#
/bin/.#Kl2_IB_glb.cpp
bin
default
/include/git_hash.hpp
projects/IB/numerics
projects/FPIEM/fse_silvano
/config/ylwrap
/pull_req.sh
/projects/REPH/tests.hpp
